.signup-container {
    margin: 10% 20%;
    padding: 20px 10px;
}

.signup-container h1 {
    margin: 0;
}

.signup-btns-container {
    display: flex;
    justify-content: space-evenly;
}

#signup-btn {
    background-color: red;
}
@media (min-width: 1200px) {
    .signup-container {
        margin: 8% 22%;
    }
}

/*********************************************************** Profile page */

.reward-status-container img {
    width: 100px;
    height: 100px;
}
p.reward-qualification-msg {
    font-weight: bold;
}
span {
    font-style: italic;
    font-weight: normal;
}

.pagination {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.pagination li.active {
    background-color: black;
    color: #fff;
    font-weight: bold;
}
.pagination li,
.pagination li a {
    display: flex;
    align-items: center;
}
.pagination li {
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
}
.pagination li a {
    padding: 0px;
    color: #000;
}