.signup-container {
    margin: 10% 0%;
    padding: 20px 10px;
}

.signup-container h1 {
    margin: 0;
}

.signup-btns-container {
    display: flex;
    justify-content: space-evenly;
}

#signup-btn {
    background-color: red;
}
@media (min-width: 600px) {
    .signup-container {
        margin: 10% 20%;
        padding: 20px 10px;
    }
}

@media (min-width: 1200px) {
    .signup-container {
        margin: 8% 22%;
    }
}

/*********************************************************** Profile page */
.reward-status-container .col.s2 {
    width: fit-content;
}
.reward-status-container img {
    width: 40px;
    height: 40px;
}

p.reward-qualification-msg {
    font-weight: bold;
}
span {
    font-style: italic;
    font-weight: normal;
}
.pagination_container {
/* if number of paginated btns below threshold pagination
width will be shrunk and centred within its container as 
specified in profile_page.js */
    display: flex;
    width: 100%;
    justify-content: center;
}
.pagination {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.pagination li.active {
    background-color: black;
    color: #fff;
    font-weight: bold;
}
.pagination li,
.pagination li a {
    display: flex;
    align-items: center;
}
.pagination li {
    font-size: 1.2rem;
    margin: 0 10px;
    padding: 0 10px;
    line-height: 30px;
}
.pagination li a {
    padding: 0px;
    color: #000;
}
@media (min-width:601px) {
    .reward-status-container img {
        width: 60px;
        height: 60px;
    }
}

@media (min-width:900px) {
    .reward-status-container img {
        width: 80px;
        height: 80px;
    }
}