{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
		<div class="hero-burger-image">
            <div class="button-container">
                <button id="menu_button">
                    <a href="{% url 'menu' %}?category=burgers">MENU</a>
                </button>
            </div>
            <div class="below-arrow-container">
                <div class="below-arrow">
                    <a href="#postcode_section">
                        <img src="{% static '/images/arrow-down-sign-to-navigate.png' %}">
                    </a>
                </div>
            </div>
		</div>

        <div class="postcode-checker-container" id="postcode_section">
            <div class="postcode-checker">
                <h2 id="postcode_checker_title">See if we deliver to you</h2>
                <p id="postcode_checker_instruction">Simply type your postcode in the box below:</p>
                <form method="POST" action="{% url 'check_postcode_home' %}" id="delivery_eligibility_form">
                    {% csrf_token %}
                    <input type="text" name="postcode" id="home_postcode_entry" placeholder="AB51 3XF"
                    {% if request.session.delivery_eligibility %} value="{{ request.session.delivery_eligibility.postcode }}"{% endif %}>
                    <div class="postcode-button-area">
                        <button type="submit">Check delivery eligibility</button>
                    </div>
                    {% if request.session.delivery_eligibility %}
                        <p id="delivery_eligibility_message">{{ request.session.delivery_eligibility.message }}</p>
                    {% endif %}
                </form>
                <!-- {% if request.session.delivery_eligibility %}
                <p id="delivery-eligibility-message">{{ request.session.delivery_eligibility.message }}</p>
                {% endif %} -->
            </div>
        </div>
    </div>
{% endblock %}
