{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="below-nav-container">
        <div class="checkout-form-container">

            {% if not request.user.is_authenticated %}
                <p>You are not currently logged in to your account. To be eligible for rewards, please sign in <a href="{% url 'account_login' %}?next={{request.path}}">here</a>.</p>
            {% elif reward_notification %}
                <div class="rewards-notification">
                {{ reward_notification }} 
                <button><a href="{% url 'menu' %}?category=burgers">Get free burger</a></button>
                </div>
            {% elif discount %}
                <div class="rewards-notification">Congratulations you've earned a free burger! Saving yourself £{{ discount }}.</div>
            {% endif %}

            <h1>
            {% if is_collect %}Collection{% else %}Delivery{% endif %} Details
            </h1>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
            {% csrf_token %}
                <h2 class="form-subtitle">Who wants these Burgers?</h2>
                    {% for field in form %}
                        {% if field.name == 'address_line1' %}
                            <h2 class="form-subtitle"> Where these burgers heading?</h2>
                        {% endif %}

                        {% if field.name == 'for_collection' %}
                            <input type="hidden" value="{{ field.value }}" name="{{ field.name }}">
                        {% else %}
                            <p>{{ field.label }}</p>
                            <p>{{ field }}</p>
                            {% if field.name == 'postcode' %}
                                {% for error in form.postcode.errors %}
                                    <p class="field-error">{{ error }}</p>
                                    <button><a href="{% url 'checkout' %}?is_collect=True">COLLECT</a></button>
                                {% endfor %}
                            {% endif %}
                        {% endif %}

                    {% endfor %}
                <p>Payment</p>
                <div id="card-element"><!--Stripe.js injects the Card Element--></div>

                <p id="card-error" role="alert"></p>
                <input type="hidden" value="{{ client_secret }}" name="client_secret">
                {% if discount %}
                    <input type="hidden" value="{{ discount }}" name="discount">
                {% endif %}
                <p class="result-message hidden">
                    Payment succeeded
                </p>

                <button class="submit">
                    PLACE YOUR ORDER (£{{ total|floatformat:2 }})
                </button>

            </form>
        </div>
    </div>
    <div id="loading-overlay">
        <div class="loading-animation">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
        
        
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_element.js' %}"></script>
    <script>
    var csrfToken = {{ csrf_token }}
    $(document).ready(function(){
        $( "#id_for_collection" ).bind("click", function() {
            console.log('For collection event listener entered.')
            var forCollection = $( "#id_for_collection" ).val();
            forCollection = (forCollection == 'on')? true: false;
            console.log('forCollection is '+forCollection)

            var dataToSend = {
                'csrf_token': csrfToken,
                'for_collection': forCollection,
                'name': $('#id_name').val(),
                'mobile_number': $('#id_mobile_number').val(),
                'email': $('#id_email').val(),
            }
            if (!forCollection) {
                dataToSend['address_line1'] = $('#id_address_line1').val();
                dataToSend['address_line2'] = $('#id_address_line2').val();
                dataToSend['postcode'] = $('#id_postcode').val();
                dataToSend['delivery_instructions'] = $('#id_delivery_instructions').val();
            }
            $.ajax({
                type: 'POST',
                url: "collect_or_delivery/",
                data: dataToSend,
                dataType: 'json',
                success: function(response) {
                    console.log('Ajax call worked. response is '+response)
                }
            });
        
        });
    });
    </script>
{% endblock %}