{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="below-nav-container">
        <div class="checkout-form-container">

            <h1 id="collection_delivery_title">
            {% if is_collect %}Collection{% else %}Delivery{% endif %} Details
            </h1>
            
            {% if not request.user.is_authenticated %}
                <p>You are not currently logged in to your account. To be eligible for rewards, please sign in <a href="{% url 'account_login' %}?next={{request.path}}" class="text-link">here</a>.</p>
            {% elif reward_notification %}
                <div class="rewards-notification">
                    <p>{{ reward_notification }}</p>
                    <div class="notification-btn-container">
                        <a class="button" href="{% url 'menu' %}?category=burgers">Get free burger</a>
                    </div>
                </div>
            {% elif discount %}
                <div class="rewards-notification">Congratulations you've earned a free burger! Saving yourself £{{ discount }}.</div>
            {% endif %}

            {% if is_collect %}
                <p>Why not try <a class="text-link" href="{% url 'checkout' %}">delivery</a> instead?</p>
            {% endif %}

			<div class="col s12" id="spending_warning">
				{% if remaining_delivery_amount > 0 %}
				<p>You still need to spend £{{ remaining_delivery_amount|floatformat:2 }} more to be eligible to order online.</p>
                <div class="notification-btn-container">
                    <a class="button" href="{% url 'menu' %}?category=burgers">BACK TO MENU</a>
                </div>
				{% endif %}
			</div>

            <form action="{% url 'checkout' %}" method="POST" id="payment_form">
            {% csrf_token %}
                <h2 class="form-subtitle">Who wants these Burgers?</h2>
                    {% for field in form %}
                        {% if field.name == 'address_line1' %}
                            <h2 class="form-subtitle"> Where these burgers heading?</h2>
                        {% endif %}

                        {% if field.name == 'for_collection' %}
                            <input type="hidden" value="{{ field.value }}" name="{{ field.name }}">
                        {% else %}
                            <p>{{ field.label }}</p>
                            <p>{{ field }}</p>

                            <!-- Only show errors after validating form with js -->
                            <div class="field-error" id="{{ field.name }}_error"></div>
                           
                        {% endif %}

                    {% endfor %}
                <p>Payment*</p>
                <div id="card_element"><!--Stripe.js injects the Card Element--></div>

                <p id="card_error" role="alert"></p>
                <input type="hidden" value="{{ client_secret }}" name="client_secret">
                {% if discount %}
                    <input type="hidden" value="{{ discount }}" name="discount">
                {% endif %}
                <p class="result-message hidden">Payment succeeded</p>
                <p id="server_err"></p>

                <button class="submit" id="place_order_btn">
                    PLACE YOUR ORDER (£{{ total|floatformat:2 }})
                </button>

            </form>
        </div>
    </div>
    <div id="loading_overlay">
        <div class="loading-animation">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
        
        
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}

    <script src="{% static 'checkout/js/stripe_element.js' %}"></script>
{% endblock %}