h1 {
    font-family: 'Abel', sans-serif;
    margin: auto 20px;
    font-size: 1.8rem;
    color: black;
}

h2 {
    font-size: 2rem;
}

p, div {
    font-family: 'Montserrat', sans-serif;
}
span {
    font-weight: bold;
}

.row {
    display: flex;
    align-items: center;
}

hr {
    margin: 0 0 20px 0;
    background-color: black;
    height: 1px;
}

img {
    width: 100%;
}

input {
    border-bottom: none !important;
    margin-bottom: 0px !important;
    width: 100%;
    background-color: white !important;
    font-family: 'Montserrat', sans-serif;
}
textarea:focus {
    border-bottom: none !important;
}

a {
    color: black;
}


button {
    padding: 8px 16px;
    background-color: black;
    border-color: black !important;
    font-family: 'Abel', sans-serif;
    font-size: 1.4rem;
    color: white;
}

button:hover,
button:focus {
    background-color: #ffff00;
    color: #000;
}

button:hover.disabled,
button:focus.disabled {
    background-color: #000;
    color: grey;
}
button:hover a {
    color: black;
}

button a {
    color: white;
    width: 100%;
    height: 100%;
}

.disabled {
    color: grey;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

/********************************************************* Navbar   */

.navbar-fixed nav {
    height: 174px;
    background-color: white;
}

.nav-wrapper{
    display: block;
}

.menu-container {
    width: 100%;
    height: fit-content;
}

.menu-container ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: 'Abel', sans-serif;
}

#dropdown1 {
    width: 150px !important;
}

.nav-wrapper ul li a {
    color: black;
}


.brand-logo {
    text-align: center;
    width: fit-content;
}

a.sidenav-trigger {
    color: black;
}

#slide-out {
    font-family: 'Abel', sans-serif;
}

.sidenav-close {
    text-align: right;
}
.sidenav span {
    padding-top: 15px;
}

.brand-logo img {
    width: 100px;
    height: 100px;
}

@media (min-width: 450px){
    .navbar-brand {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 601px){
    .navbar-fixed nav {
        height: 210px;
    }
    .menu-container {
        padding-top: 150px;
    }
}

/********************************************************* Toasts      */

#toast-container {
    top: 0% !important;
    right: 0% !important;
    font-family: 'Montserrat', sans-serif;
}

.toast {
    background-color: white;
    color: black;
}

/********************************************************* Home page   */
.container{
    width: 100%;
    max-width:initial;          
}
.hero-burger-image {
    background: url(/media/heroimage_burger_fries_optimized.jpg);
    height: calc(100vh - 174px);
    width: 100vw;
    margin-top: 112px;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}
.button-container {
    position: absolute;
    width: inherit;
    display: flex;
    height: 30%;
    justify-content: center;
    align-items: center;
}
#menu-button {
    
}

@media (min-width: 450px){
    .hero-burger-image {
        height: calc(100vh - 174px);
        margin-top: 110px;
    }
}

/********************************************************* Menu page   */

.below-nav-container {
    margin-top: 120px;
    padding: 20px 10px;
    background-color: beige;
}
.menu-navigator {
    padding: 20px 10px;
    margin: 10px 0 50px 0;
    justify-content: center;
}
.menu-navigator .row {
    display: block !important;
}
.menu-navigator .row div {
    background-color: black;
    text-align: center;
}
.menu-navigator .row .col a {
    color: white;
}
.menu-navigator .col.s4 {
    padding: 0; 
} 
.menu-navigator .col.s4 a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
}
.menu-navigator .col.s4 a:hover,
.menu-navigator .col.m2 a:hover {
    background-color: white;
    color: black;
}


.category-title {
    text-transform: uppercase;
    font-family: "Abel", sans-serif;
    font-size: 1.8rem;
}

.switch label .lever {
    background-color: #8e8282;
}

.switch label .lever:after {
    background-color: #605858;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #dbdb1b;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #ffff00;
}

#filter-btn-container {
    text-align: right;
}

.menu-items-container {
    margin: 0% 8.3%;
    padding-bottom: 70px;
}
.menu-items-container h2 {
    margin: 1.0rem 0 1.424rem 0;
}

.menu-item-form {
    margin-bottom: 30px;
}

@media (min-width: 601px){
    .below-nav-container{
        margin-top: 147px;
    }
    .menu-navigator .row {
        display: flex !important;
        justify-content: center;
    }
    .menu-navigator .col.m2 {
        margin-left: 0;
        height: 35px;
    } 
    .menu-navigator .col.m2 a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
}

/********************************************************* Combo Deal page   */
.menu-navigator.deals {
    margin: 0 5%;
}
.category-title.combo {
    text-align: center;
}
.row.collapsible-header {
    display: block;
    text-align: center;
    margin-bottom: 0px;
}
.collapsible-header h3 {
    font-size: 1.92rem;
}
.collapsible-body .row {
    display: block;
}
.col-gap {
    background-color: inherit !important;
}
.combo-info {
    margin-bottom: 10px;
}
.combo-info .select-wrapper input.select-dropdown {
    text-align: center;
}
.combo-desc {
    font-size: 16px;
}
.combo-desc p {
    margin-block-start: 0;
}
.combo-img-container {
    display: flex;
    justify-content: center;
}
.combo-desc-container {
    display: flex;
    justify-content: center;
}

.combo-img {
    width: 120px;
    height: 120px;
}
.form-error {
    color: red;
}
.order-btn-container {
    text-align: center;
}

@media (min-width: 601px) {
    .combo-desc {
        margin: 1.9466666667rem 0 1.168rem 0;
        font-size: 18px;
    }
    .combo-img {
        width: 150px;
        height: 150px;
    }
    .order-btn-container {
        text-align: right;
    }
    .row.collapsible-header {
        text-align: left;
    }
    .row.collapsible-header h3 {
        text-align: center;
    }
}
@media (min-width: 993px) {
    .row.collapsible-header {
        text-align: center;
    }
}

/********************************************************* Order page   */
.order-items-container {
    min-height: 79vh;
    padding-bottom: 20px;
}

.order-combo-container{
    margin-top: 80px;
}

.col-headers {
    font-weight: 800;
}
.row.col-headers {
    display: block;
}
.bottom-row-black {
    border-bottom: 1px solid black;
}

.bottom-row {
    border-bottom: 1px solid lightgrey;
}

.order-quantity {
    text-align: center;
}

.order-qty {
    padding: 0px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
}

input.order-qty-input {
    border-bottom: none !important;
    margin-bottom: 0px !important;
    text-align: center;
    width: 33% !important;
    height: auto;
    background-color: white !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button.qty-btn {
    padding: 0px 0px;
    width: 33%;
    max-width: 42px;
    background-color: beige;
    border: none;
    color: black;
}

.combo-unit-list {
    background-color: #fafa3152;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.order-combo-subtotal {
    text-align: center;
}
.order-combo-delete {
    text-align: center;
}
.order.category-title {
    margin: 20px 10px;
    text-align: center;
}

#spending_warning {
    color: red;
}

.order-items-container .order-btn-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.order-items-container .order-btn-container button {
    border: 1px solid white !important;
    font-size: 1.2rem;
}

@media(min-width: 600px) {
    .order-items-container {
        margin: 0 5%;
        min-height: 75vh;
    }
}
@media(min-width: 992px) {
    .order-items-container .order-btn-container {
        justify-content: space-between;
    }
}

@media(min-width: 1200px) {
    .order-items-container {
        margin: 0 10%;
    }
}

/********************************************************* Checkout page   */

.checkout-form-container {
    width: 95%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-subtitle {
    font-size: 1.2rem;
}

.order-container {
    width: 95%;
    margin: auto;
}

@media(min-width: 600px) {
    .checkout-form-container {
        width: 50%;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .order-container {
        width: 75%;
    }
}

@media(min-width: 992px) {
    .form-subtitle {
        font-size: 1.5rem;
    }
}

/********************************************************* Checkout Success page   */
.below-nav-container {
    padding: 0px;
}

.receipt-area {
    background-color: black;
    color: white;
    padding: 20px 10px;
}

.clear-10 {
    margin: 10px 0 !important;
}