{% extends "base.html" %}
{% load static %}
{% load order_tools %}

{% block content %}
    <div class="below-nav-container">
        <div class="order-items-container">
            <div class="row">
                <div class="col s12">
                    <div class="order category-title">Your Order</div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <p>Min delivery threshold: £{{ min_delivery_threshold|floatformat:2 }}</p>
                </div>
                {% if remaining_delivery_amount > 0 %}
                    <div class="col s12">
                        <p>You still need to spend £{{ remaining_delivery_amount }} more to be eligible for delivery.</p>
                    </div>
            {% endif %}
            </div>

            

            {% if order_items %}
                <div class="row col-headers bottom-row-black">
                    <div class="col s3 m2">Food Item</div>
                    <div class="col hide-on-small-and-down m4">Description</div>
                    <div class="order-quantity col s4 m3">Quantity</div>
                    <div class="col s3 m2">Subtotal</div>
                    <div class="col s2 m1"></div>
                </div>
                <div class="item_container">
                    {% for item in order_items %}
                    <div class="row" id="itemrow_{{ item.food_item.id }}">
                        <div class="col s3 m2">{{ item.food_item.name }}</div>
                        <div class="col hide-on-small-and-down m4">{{ item.food_item.description }}</div>
                        <div class="order-qty col s4 m3">
                            
                            <button class="qty-btn remove" id="{{ item.food_item.id }}_remove" onclick="decreaseQuantity(this)">
                                <span class="material-icons">remove</span>
                            </button>

                            <input class="order-qty-input" id="{{ item.food_item.id }}_qty" type="number" name="food-qty" 
                            value="{{ item.quantity }}" min="1" max="5" onchange="updateQty(this)">
                            
                            <button class="qty-btn add" id="{{ item.food_item.id }}_add" onclick="increaseQuantity(this)">
                                <i class="material-icons">add</i>
                            </button>
                            
                        </div>
                        <div class="col s3 m2">
                            £{{ item.food_item.price| get_subtotal:item.quantity }}
                        </div>
                        <div class="col s2 m1">
                            <span class="material-icons" id="{{ item.food_item.id }}_delete" onclick="removeItem(this)">delete</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% if combo_items %}
                <div class="order-combo-container">
                    <div class="row col-headers bottom-row-black">
                        <div class="col s5 m2">Combos</div>
                        <div class="col hide-on-small-and-down m5">Description</div>
                        <div class="order-quantity col s4 m3">Quantity</div>
                        <div class="col s3 m2 order-combo-subtotal">Subtotal</div>
                    </div>

                    <div class="item_container">
                    {% for combo_item, combo_item_list in combo_items.items %}
                        {% with combo=combo_item_list.0 combo_qty=combo_item_list.1 combo_content=combo_item_list.2 %}
                        <div class="row" id="comborow_{{ combo_item.id }}">
                            <div class="col s5 m2">{{ combo.name }}</div>
                            <div class="col hide-on-small-and-down m5">{{ combo.description }}</div>
                            <div class="col s4 m3"></div>
                            <div class="col s3 m2 order-combo-subtotal">£{{ combo.price| get_subtotal:combo_qty }}</div>
                        </div>
                        {% if forloop.last %}
                        <div class="row bottom-row-black">
                        {% else %}
                        <div class="row bottom-row">
                        {% endif %}
                            <div class="col hide-on-med-and-down l2"></div>
                            <div class="combo-unit-list col s5 m7 l5">
                            {% for food, qty in combo_content.items %}
                                <div class="row">
                                    <div class="col s10 m3">{{ food.name }}</div>
                                    <div class="col hide-on-small-and-down m7">{{ food.description }}</div>
                                    <div class="col s2 center">{{ qty }}</div>
                                </div>
                            {% endfor %}
                            </div>
                            
                            <div class="order-qty col s4 m3">
                                
                                <button class="qty-btn remove" id="{{ combo_item }}_remove" onclick="decreaseQuantity(this)">
                                    <span class="material-icons">remove</span>
                                </button>

                                <input class="order-qty-input" id="{{ combo_item }}_qty" type="number" name="food-qty" 
                                value="{{ combo_qty }}" min="1" max="5" onchange="updateQty(this)">
                                
                                <button class="qty-btn add" id="{{ combo_item }}_add" onclick="increaseQuantity(this)">
                                    <i class="material-icons">add</i>
                                </button>
                                
                            </div>
                            <div class="col s3 m2 order-combo-delete">
                                <span class="material-icons" id="{{ item.combo_item.id }}_delete" onclick="removeItem(this)">delete</span>
                            </div>
                        </div>
                        {% endwith %}
                    {% endfor %}
                    </div>
                </div>
            {% endif %}    
            
            <div class="row">
                <div class="col s3 offset-s5 m2 offset-m7">Total</div>
                <div class="col s4 m3 center">£{{ total|floatformat:2 }}</div>
            </div>
            <div class="row">
                <div class="col s3 offset-s5 m2 offset-m7">Delivery</div>
                <div class="col s4 m3 center">£{{ delivery_fee|floatformat:2 }}</div>
            </div>
            <div class="row">
                <div class="col s3 offset-s5 m2 offset-m7">Grand Total</div>
                <div class="col s4 m3 center">£{{ grand_total|floatformat:2 }}</div>
            </div>

            <div class="row">
                <div class="order-btn-container col s12 l5 offset-l7">
                    <a href="{% url 'menu' %}?category=burgers">
                        <button>
                            BACK TO MENU
                        </button> 
                    </a>
                    <a href="{% url 'checkout' %}">
                        <button >
                            PROCEED TO CHECKOUT
                        </button>
                    </a> 
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col s12">
                    <p>There are currently no items in your order.</p>
                </div>
            </div>
            {% endif %}
        </div>

{% endblock %}

{% block postloadjs %}
<script>
    $(document).ready(function(){
        updateBtnState();
    }, {passive: true});
    // Make event listener passive to improve performance (wheel scroll element).
    

    function updateBtnState() {
        let items = $(".item_container").children();
        let upperQtyLimit = 10;
        let lowerQtyLimit = 1;
        for(item of items) {
            let itemQty = $(item).find('.order-qty-input');
            if(itemQty.val()==upperQtyLimit){
                $(item).find('.add i').addClass('disabled');
            } else if(itemQty.val()==lowerQtyLimit){
                $(item).find('.remove span').addClass('disabled');
            } 
            // Deals with case where quantity value is moving away from the limits.
            else { 
                if ($(item).find('button > *').hasClass('disabled')){
                    $(item).find('button > *').removeClass('disabled');
                }
            }
        }
    }

    function increaseQuantity(selectedQuantityBtn){
        let itemID = selectedQuantityBtn.id.split("_")[0];
        let itemQtyId = itemID+"_qty";
        let qtyValue = $('#'+itemQtyId).val();
        // Apply constraints on quantities, max 10.
        if (qtyValue<10) {
            qtyValue = parseInt(qtyValue)+1;
            updateQty(itemID, qtyValue);
        }
        
        $('#'+itemQtyId).val(qtyValue);
        updateBtnState();
    }

    function decreaseQuantity(selectedQuantityBtn){
        let itemID = selectedQuantityBtn.id.split("_")[0];
        let itemQtyId = itemID+"_qty";
        let qtyValue = $('#'+itemQtyId).val();
        // Apply constraints on quantities, min 1.
        if (qtyValue>1) {
            qtyValue = parseInt(qtyValue)-1;
            updateQty(itemID, qtyValue);
        }
        $('#'+itemQtyId).val(qtyValue);
        updateBtnState();
    }

    function updateQty(itemID, qtyVal) {
        let csrfToken = "{{ csrf_token }}";
        console.log('itemID is '+itemID);
        console.log('Qty val changed to '+qtyVal);
        let itemData = {
                        'qtyVal': qtyVal,
                        'csrfmiddlewaretoken': csrfToken
                        };
        $.ajax({
            type: 'POST',
            url: `edit_item/${itemID}/`,
            data: itemData,
            dataType: 'json',
            success: function(response) {
                console.log("Quantity updated for order.")
            }
        });
    }

    function removeItem(itemToRemove){
        let itemID = itemToRemove.id.split("_")[0];
        let rowID = 'itemrow_'+itemID;
        let csrfToken = "{{ csrf_token }}"
        // $('#'+rowID).remove();
        let url = `/food_order/remove/${itemID}/`;
        let data = {'csrfmiddlewaretoken': csrfToken}

        $.post(url, data)
        .done( function() {
            location.reload();
        });
    }


</script>
{% endblock %}