{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="below-nav-container">

        <div class="menu-navigator deals">
            <div class="row">
                <div class="col s4 offset-s1 m3 offset-m2"><a href="{% url 'menu' %}?category=popular">POPULAR</a></div>
                <div class="col s4 offset-s2 m3 offset-m2"><a href="{% url 'combo' %}">COMBOS</a></div>
                <div class="col s1 m2 col-gap"></div>
            </div>
        </div>

        <div class="menu-items-container">
            <div class="row">
                <div class="col s12">
                    <div class="category-title combo"><h2>Combo Deals</h2></div>
                </div>
            </div>
        
            <ul class="collapsible">
            {% for combo in combos %}
                <li>
                    <div class="row collapsible-header">
                        <div class="col s12 m6 l4">
                            <h3>{{ combo.name }}</h3><h3>£{{ combo.price }}</h3>
                        </div>
                        <div class="combo-desc col s12 m6 l8">
                            <p>{{ combo.description }}</p>
                        </div>
                    </div>
                
                    <div class="collapsible-body">
                        <form name="add_combo" action="{% url 'add_combo_to_order' combo.id %}" method="POST">
                        {% csrf_token %}
                        {% if combo.id == 1 %}
                        <div class="row">
                            <div class="col s12 m6 xl4">
                                Pick Your Burger
                            </div>
                        </div>

                        <div class="row select-info-row">
                            <div class="col s12 m6 xl4 combo-info">
                                <select name="c1_burger" id="c1_burger" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>burgers</option>
                                    {% for burger in combo1_burgers %}
                                    <option value="{{burger.id}}">{{ burger.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c1_burger_image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c1_burger_description">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m6 xl4">
                                Pick Your Side
                            </div>
                        </div>
                            
                        <div class="row select-info-row">
                            <div class="col s12 m6 xl4 combo-info">
                                <select name="c1_side" id="c1_side" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>sides</option>
                                    {% for side in combo1_sides %}
                                    <option value="{{side.id}}">{{ side.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c1_side_image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c1_side_description">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m6 xl4">
                                Pick Your Drink
                            </div>
                        </div>

                        <div class="row select-info-row">
                            <div class="col s12 m6 xl4 combo-info">
                                <select name="c1_drink" id="c1_drink" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>drinks</option>
                                    {% for drink in combo1_drinks %}
                                    <option value="{{drink.id}}">{{ drink.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c1_drink_image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c1_drink_description">
                            </div>
                        </div>
                        {% endif %}
                    
                        {% if combo.id == 2 %}
                        <div class="row">
                            <div class="col s12 m6 xl4">
                                Pick Your Burgers
                            </div>
                        </div>

                        <div class="row select-info-row">
                            <div class="col s12 m6 xl4 combo-info">
                                <select name="c2_burger1" id="c2_burger1" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>burgers</option>
                                    {% for burger in combo2_burgers %}
                                    <option value="{{burger.id}}">{{ burger.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2_burger1_image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2_burger1_description">
                            </div>
                        </div>
                        <div class="row select-info-row">
                            <div class="col s12 m6 xl4 combo-info">
                                <select name="c2_burger2" id="c2_burger2" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>burgers</option>
                                    {% for burger in combo2_burgers %}
                                    <option value="{{burger.id}}">{{ burger.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2_burger2_image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2_burger2_description">
                            </div>
                        </div>
                        <div class="row select-info-row">
                            <div class="col s12 m6 xl4 combo-info">
                                <select name="c2_burger3" id="c2_burger3" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>burgers</option>
                                    {% for burger in combo2_burgers %}
                                    <option value="{{burger.id}}">{{ burger.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2_burger3_image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2_burger3_description">
                            </div>
                        </div>
                        <div class="row select-info-row">
                            <div class="col s12 m6 xl4 combo-info">
                                <select name="c2_burger4" id="c2_burger4" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>burgers</option>
                                    {% for burger in combo2_burgers %}
                                    <option value="{{burger.id}}">{{ burger.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2_burger4_image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2_burger4_description">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m6 xl4">
                                Pick Your Sides
                            </div>
                        </div>
                            
                        <div class="row select-info-row">
                            <div class="col s12 m6 xl4 combo-info">
                                <select name="c2_side1" id="c2_side1" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>sides</option>
                                    {% for side in combo2_sides %}
                                    <option value="{{side.id}}">{{ side.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2_side1_image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2_side1_description">
                            </div>
                        </div>
                        <div class="row select-info-row">
                            <div class="col s12 m6 xl4 combo-info">
                                <select name="c2_side2" id="c2_side2" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>sides</option>
                                    {% for side in combo2_sides %}
                                    <option value="{{side.id}}">{{ side.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2_side2_image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2_side2_description">
                            </div>
                        </div>
                        <div class="row select-info-row">
                            <div class="col s12 m6 xl4 combo-info">
                                <select name="c2_side3" id="c2_side3" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>sides</option>
                                    {% for side in combo2_sides %}
                                    <option value="{{side.id}}">{{ side.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2_side3_image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2_side3_description">
                            </div>
                        </div>
                        <div class="row select-info-row">
                            <div class="col s12 m6 xl4 combo-info">
                                <select name="c2_side4" id="c2_side4" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>sides</option>
                                    {% for side in combo2_sides %}
                                    <option value="{{side.id}}">{{ side.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2_side4_image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5" id="c2_side4_description">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m6 xl4">
                                Pick Your Drinks
                            </div>
                        </div>

                        <div class="row select-info-row">
                            <div class="col s12 m6 xl4 combo-info">
                                <select name="c2_drink1" id="c2_drink1" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>drinks</option>
                                    {% for drink in combo2_drinks %}
                                    <option value="{{drink.id}}">{{ drink.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2_drink1_image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2_drink1_description">
                            </div>
                        </div>
                        <div class="row select-info-row">
                            <div class="col s12 m6 xl4 combo-info">
                                <select name="c2_drink2" id="c2_drink2" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>drinks</option>
                                    {% for drink in combo2_drinks %}
                                    <option value="{{drink.id}}">{{ drink.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2_drink2_image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2_drink2_description">
                            </div>
                        </div>
                        <div class="row select-info-row">
                            <div class="col s12 m6 xl4 combo-info">
                                <select name="c2_drink3" id="c2_drink3" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>drinks</option>
                                    {% for drink in combo2_drinks %}
                                    <option value="{{drink.id}}">{{ drink.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2_drink3_image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2_drink3_description">
                            </div>
                        </div>
                        <div class="row select-info-row">
                            <div class="col s12 m6 xl4 combo-info">
                                <select name="c2_drink4" id="c2_drink4" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>drinks</option>
                                    {% for drink in combo2_drinks %}
                                    <option value="{{drink.id}}">{{ drink.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2_drink4_image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2_drink4_description">
                            </div>
                        </div>
                        {% endif %}
                        
                        {% if combo.id == 3 %}
                        <div class="row">
                            <div class="col s12 m6 xl4">
                                Pick Your Burger
                            </div>
                        </div>

                        <div class="row select-info-row">
                            <div class="col s12 m6 xl4 combo-info">
                                <select name="c3_burger" id="c3_burger" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>burgers</option>
                                    {% for burger in combo3_burgers %}
                                    <option value="{{burger.id}}">{{ burger.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c3_burger_image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c3_burger_description">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m6 xl4">
                                Pick Your Side
                            </div>
                        </div>
                            
                        <div class="row select-info-row">
                            <div class="col s12 m6 xl4 combo-info">
                                <select name="c3_side" id="c3_side" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>sides</option>
                                    {% for side in combo3_sides %}
                                    <option value="{{side.id}}">{{ side.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c3_side_image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c3_side_description">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m6 xl4">
                                Pick Your Dessert
                            </div>
                        </div>
                            
                        <div class="row select-info-row">
                            <div class="col s12 m6 xl4 combo-info">
                                <select name="c3_dessert" id="c3_dessert" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>desserts</option>
                                    {% for dessert in combo3_dessert %}
                                    <option value="{{dessert.id}}">{{ dessert.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c3_dessert_image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c3_dessert_description">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m6 xl4">
                                Pick Your Drink
                            </div>
                        </div>

                        <div class="row select-info-row">
                            <div class="col s12 m6 xl4 combo-info">
                                <select name="c3_drink" id="c3_drink" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>drinks</option>
                                    {% for drink in combo3_drinks %}
                                    <option value="{{drink.id}}">{{ drink.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c3_drink_image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c3_drink_description">
                            </div>
                        </div>
                        {% endif %}

                        <div class="form-error" id="err_{{ combo.id }}">

                        </div>

                        <div class="order-btn-container" onclick="validateComboForm({{ combo.id }})">
                            <button type="submit">
                                ADD TO ORDER
                            </button>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                    </div>
                </li>

            {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'menu/js/combo_items.js' %}"></script>
{% endblock %}