{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="below-nav-container">

        <div class="menu-navigator deals">
            <div class="row">
                <div class="col s4 offset-s1 m3 offset-m2"><a href="{% url 'menu' %}?category=popular">POPULAR</a></div>
                <div class="col s4 offset-s2 m3 offset-m2"><a href="{% url 'combo' %}">COMBOS</a></div>
                <div class="col s1 m2 col-gap"></div>
            </div>
        </div>

        <div class="menu-items-container">
            <div class="row">
                <div class="col s12">
                    <div class="category-title combo"><h2>Combo Deals</h2></div>
                </div>
            </div>
        
            <ul class="collapsible">
            {% for combo in combos %}
                <li>
                    <div class="row collapsible-header">
                        <div class="col s12 m6 l4">
                            <h3>{{ combo.name }}</h3><h3>£{{ combo.price }}</h3>
                        </div>
                        <div class="combo-desc col s12 m6 l8">
                            <p>{{ combo.description }}</p>
                        </div>
                    </div>
                
                    <div class="collapsible-body">
                        <form name="add_combo" action="{% url 'add_combo_to_order' combo.id %}" method="POST">
                        {% csrf_token %}
                        {% if combo.id == 1 %}
                        <div class="row">
                            <div class="col s12 m6 xl4" id="">
                                Pick Your Burger
                            </div>
                        </div>

                        <div class="row select_info_row">
                            <div class="col s12 m6 xl4 combo-info" id="">
                                <select name="c1-burger" id="c1-burger" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>burgers</option>
                                    {% for burger in combo1_burgers %}
                                    <option value="{{burger.id}}">{{ burger.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c1-burger-image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c1-burger-description">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m6 xl4" id="">
                                Pick Your Side
                            </div>
                        </div>
                            
                        <div class="row select_info_row">
                            <div class="col s12 m6 xl4 combo-info" id="">
                                <select name="c1-side" id="c1-side" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>sides</option>
                                    {% for side in combo1_sides %}
                                    <option value="{{side.id}}">{{ side.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c1-side-image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c1-side-description">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m6 xl4" id="">
                                Pick Your Drink
                            </div>
                        </div>

                        <div class="row select_info_row">
                            <div class="col s12 m6 xl4 combo-info" id="">
                                <select name="c1-drink" id="c1-drink" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>drinks</option>
                                    {% for drink in combo1_drinks %}
                                    <option value="{{drink.id}}">{{ drink.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c1-drink-image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c1-drink-description">
                            </div>
                        </div>
                        {% endif %}
                    
                        {% if combo.id == 2 %}
                        <div class="row">
                            <div class="col s12 m6 xl4" id="">
                                Pick Your Burgers
                            </div>
                        </div>

                        <div class="row select_info_row">
                            <div class="col s12 m6 xl4 combo-info" id="">
                                <select name="c2-burger1" id="c2-burger1" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>burgers</option>
                                    {% for burger in combo2_burgers %}
                                    <option value="{{burger.id}}">{{ burger.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2-burger1-image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2-burger1-description">
                            </div>
                        </div>
                        <div class="row select_info_row">
                            <div class="col s12 m6 xl4 combo-info" id="">
                                <select name="c2-burger2" id="c2-burger2" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>burgers</option>
                                    {% for burger in combo2_burgers %}
                                    <option value="{{burger.id}}">{{ burger.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2-burger2-image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2-burger2-description">
                            </div>
                        </div>
                        <div class="row select_info_row">
                            <div class="col s12 m6 xl4 combo-info" id="">
                                <select name="c2-burger3" id="c2-burger3" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>burgers</option>
                                    {% for burger in combo2_burgers %}
                                    <option value="{{burger.id}}">{{ burger.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2-burger3-image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2-burger3-description">
                            </div>
                        </div>
                        <div class="row select_info_row">
                            <div class="col s12 m6 xl4 combo-info" id="">
                                <select name="c2-burger4" id="c2-burger4" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>burgers</option>
                                    {% for burger in combo2_burgers %}
                                    <option value="{{burger.id}}">{{ burger.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2-burger4-image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2-burger4-description">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m6 xl4" id="">
                                Pick Your Sides
                            </div>
                        </div>
                            
                        <div class="row select_info_row">
                            <div class="col s12 m6 xl4 combo-info" id="">
                                <select name="c2-side1" id="c2-side1" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>sides</option>
                                    {% for side in combo2_sides %}
                                    <option value="{{side.id}}">{{ side.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2-side1-image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2-side1-description">
                            </div>
                        </div>
                        <div class="row select_info_row">
                            <div class="col s12 m6 xl4 combo-info" id="">
                                <select name="c2-side2" id="c2-side2" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>sides</option>
                                    {% for side in combo2_sides %}
                                    <option value="{{side.id}}">{{ side.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2-side2-image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2-side2-description">
                            </div>
                        </div>
                        <div class="row select_info_row">
                            <div class="col s12 m6 xl4 combo-info" id="">
                                <select name="c2-side3" id="c2-side3" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>sides</option>
                                    {% for side in combo2_sides %}
                                    <option value="{{side.id}}">{{ side.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2-side3-image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2-side3-description">
                            </div>
                        </div>
                        <div class="row select_info_row">
                            <div class="col s12 m6 xl4 combo-info" id="">
                                <select name="c2-side4" id="c2-side4" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>sides</option>
                                    {% for side in combo2_sides %}
                                    <option value="{{side.id}}">{{ side.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2-side4-image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5" id="c2-side4-description">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m6 xl4" id="">
                                Pick Your Drinks
                            </div>
                        </div>

                        <div class="row select_info_row">
                            <div class="col s12 m6 xl4 combo-info" id="">
                                <select name="c2-drink1" id="c2-drink1" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>drinks</option>
                                    {% for drink in combo2_drinks %}
                                    <option value="{{drink.id}}">{{ drink.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2-drink1-image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2-drink1-description">
                            </div>
                        </div>
                        <div class="row select_info_row">
                            <div class="col s12 m6 xl4 combo-info" id="">
                                <select name="c2-drink2" id="c2-drink2" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>drinks</option>
                                    {% for drink in combo2_drinks %}
                                    <option value="{{drink.id}}">{{ drink.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2-drink2-image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2-drink2-description">
                            </div>
                        </div>
                        <div class="row select_info_row">
                            <div class="col s12 m6 xl4 combo-info" id="">
                                <select name="c2-drink3" id="c2-drink3" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>drinks</option>
                                    {% for drink in combo2_drinks %}
                                    <option value="{{drink.id}}">{{ drink.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2-drink3-image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2-drink3-description">
                            </div>
                        </div>
                        <div class="row select_info_row">
                            <div class="col s12 m6 xl4 combo-info" id="">
                                <select name="c2-drink4" id="c2-drink4" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>drinks</option>
                                    {% for drink in combo2_drinks %}
                                    <option value="{{drink.id}}">{{ drink.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c2-drink4-image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c2-drink4-description">
                            </div>
                        </div>
                        {% endif %}
                        
                        {% if combo.id == 3 %}
                        <div class="row">
                            <div class="col s12 m6 xl4" id="">
                                Pick Your Burger
                            </div>
                        </div>

                        <div class="row select_info_row">
                            <div class="col s12 m6 xl4 combo-info" id="">
                                <select name="c3-burger" id="c3-burger" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>burgers</option>
                                    {% for burger in combo3_burgers %}
                                    <option value="{{burger.id}}">{{ burger.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c3-burger-image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c3-burger-description">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m6 xl4" id="">
                                Pick Your Side
                            </div>
                        </div>
                            
                        <div class="row select_info_row">
                            <div class="col s12 m6 xl4 combo-info" id="">
                                <select name="c3-side" id="c3-side" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>sides</option>
                                    {% for side in combo3_sides %}
                                    <option value="{{side.id}}">{{ side.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c3-side-image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c3-side-description">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m6 xl4" id="">
                                Pick Your Dessert
                            </div>
                        </div>
                            
                        <div class="row select_info_row">
                            <div class="col s12 m6 xl4 combo-info" id="">
                                <select name="c3-dessert" id="c3-dessert" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>desserts</option>
                                    {% for dessert in combo3_dessert %}
                                    <option value="{{dessert.id}}">{{ dessert.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c3-dessert-image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c3-dessert-description">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m6 xl4" id="">
                                Pick Your Drink
                            </div>
                        </div>

                        <div class="row select_info_row">
                            <div class="col s12 m6 xl4 combo-info" id="">
                                <select name="c3-drink" id="c3-drink" onchange="updateComboSelection(this)" required>
                                    <option value="" disabled selected>drinks</option>
                                    {% for drink in combo3_drinks %}
                                    <option value="{{drink.id}}">{{ drink.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="combo-img-container col s12 m6 xl3 combo-info" id="c3-drink-image">
                            </div>
                            <div class="combo-desc-container col s12 m6 offset-m6 xl5 combo-info" id="c3-drink-description">
                            </div>
                        </div>
                        {% endif %}

                        <div class="form-error" id="err-{{ combo.id }}">

                        </div>

                        <div class="order-btn-container" onclick="validateComboForm({{ combo.id }})">
                            <button type="submit">
                                ADD TO ORDER
                            </button>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                    </div>
                </li>

            {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'menu/js/combo_items.js' %}"></script>
{% endblock %}