{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'menu/css/menu.css' %}">
{% endblock %}

{% block content %}
    <div class="below-nav-container">
        
        
        {% if selected_category == 'popular' %}
        <div class="menu-navigator deals">
            <div class="row">
                <div class="col s4 offset-s1 m3 offset-m2 {% if selected_category == 'popular' %}current{% endif %}"><a href="{% url 'menu' %}?category=popular">POPULAR</a></div>
                <div class="col s4 offset-s2 m3 offset-m2"><a href="{% url 'combo' %}">COMBOS</a></div>
                <div class="col s1 m2 col-gap"></div>
            </div>
        </div>
        {% else %}
        <div class="menu-navigator">
            <div class="row">
                <div class="col s4 m2 offset-m1 {% if selected_category == 'burgers' %}current{% endif %}"><a href="{% url 'menu' %}?category=burgers">BURGERS</a></div>
                <div class="col s4 m2 {% if selected_category == 'sides' %}current{% endif %}"><a href="{% url 'menu' %}?category=sides">SIDES</a></div>
                <div class="col s4 m2 {% if selected_category == 'drinks' %}current{% endif %}"><a href="{% url 'menu' %}?category=drinks">DRINKS</a></div>
                <div class="col s4 offset-s2 m2 {% if selected_category == 'vegetarian' %}current{% endif %}"><a href="{% url 'menu' %}?category=vegetarian">VEGETARIAN</a></div>
                <div class="col s4 m2 {% if selected_category == 'dessert' %}current{% endif %}"><a href="{% url 'menu' %}?category=dessert">DESSERTS</a></div>
            </div>
        </div>
        {% endif %}
        

        <div class="menu-items-container">
            <div class="row">
            
                <div {% if selected_category != 'popular' %}class="col s8"{% else %}class="col s12 center"{% endif %}>
                    <h2 class="category-title">{{ selected_category }}</h2>
                </div>

                {% if selected_category != 'popular' %}
                <div class="col s4">
                    <div class="row">
                        <div>Sort by Price:</div>
                    </div>
                    <div class="row">
                        <div class="col s6">Low to High</div>
                        <div class="col s6 switch" id="price_low_high">
                            
                            <label>
                            Off
                            <input id="price_asc" name="price_asc" type="checkbox">
                            <span class="lever"></span>
                            On
                            </label>
                            
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col s6">High to Low</div>
                        <div class="col s6 switch" id="price_high_low">
                            <label>
                            Off
                            <input id="price_desc" name="price_desc"  type="checkbox">
                            <span class="lever"></span>
                            On
                            </label>
                        </div>
                    </div>
                    <div class="row" id="filter_btn_container">
                        <button type="submit" onclick="getFilteredResults('{{ selected_category }}')">
                            Filter results
                        </button>
                    </div>
                </div>
                {% endif %}

            </div>

            {% for item in items %}
            <form action="{% url 'add_to_order' item.id %}" method="POST" class="menu-item-form">
            {% csrf_token %}
            <div class="row">
                <h3 class="col s12 food-item-name" id="item_name_{{ forloop.counter }}">
                    {{ item.name }}
                </h3>
            </div>
            <div class="row menu-option-row">
                <div class="col s6 m4 food-image-container">
                    <img src="/static/menu_images/{{item.image}}" id="item_pic_{{ forloop.counter }}" alt="">
                </div> 
                <div class="col m6 hide-on-small-and-down" id="item_desc_inline_{{ forloop.counter }}">
                    {{ item.description }}
                </div> 
                <div class="col s6 m2 item-price center" id="item_price_{{ forloop.counter }}">
                    £{{ item.price }}
                </div> 
            </div>
            <div class="row hide-on-med-and-up">
                <div class="col s12" id="item_desc_block_{{ forloop.counter }}">
                    {{ item.description }}
                </div>
            </div>
            <div class="order-btn-container">
                <button type="submit">
                    ADD TO ORDER
                </button>
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}?category={{ selected_category }}">
            </form>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    <script src="{% static 'menu/js/menu_filter.js' %}"></script>
{% endblock %}