{% extends "base.html" %}
{% load static %}
{% load member_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'members_area/css/members.css' %}">
{% endblock %}

{% block content %}
    <div class="below-nav-container">
        <div class="signup-container">
            <h1>Members Area</h1>

            <p>Hey {{ member }}!</p>

            <h2>Reward Status</h2>

            {% with ''|center:5 as range %}
            <div class="reward-status-container row">
            {% for burger in range %}
                <div class="col s2">
                {% if forloop.counter0 < member.reward_status %}
                    <img src="{% static '/images/burger_reward_gold_icon.png' %}" alt="">
                {% else %}
                    <img src="{% static '/images/burger_reward_grey_icon.png' %}" alt="">
                {% endif %}
                </div>
            {% endfor %}
            </div>
            {% endwith %}

            {% with orders_remaining=5|subtract:member.reward_status %}
            {% if orders_remaining > 0 %}
            <p>You need {{ orders_remaining }} more order{% if orders_remaining > 1 %}s{% endif %} to qualify for your Free burger.</p>
            {% else %}
            <p class="reward-qualification-msg">Congratulations! On your next order you are eligible for a free burger.</p>
            <span>Cheapest burger selected will be discounted from the total charge. Doesn't apply to combos.</span>
            {% endif %}
            {% endwith %}

            <h2>Details on record</h2>
            <form method="POST" action="{% url 'members_area' %}">
                {% csrf_token %}
                {{ memberform.as_p }}

                <button class="submit">Update Info</button>
            </form>

            <h2>Order History</h2>

            {% if order_history.has_other_pages %}
			<ul class="pagination">
				{% if order_history.has_previous %}
				<li>
                    <a href="?page={{ order_history.previous_page_number }}">
                        <span class="material-icons">navigate_before</span>
                    </a>
                </li>
				{% else %}
				<li class="disabled">
                    <span class="material-icons">navigate_before</span>
                </li>
				{% endif %}
				{% for page in order_history.paginator.page_range %}
				{% if order_history.number == page %}
				<li class="active">{{ page }}</li>
				{% else %}
				<li><a href="?pagenum={{ page }}">{{ page }}</a></li>
				{% endif %}
				{% endfor %}
				{% if order_history.has_next %}
				<li>
                    <a href="?pagenum={{ order_history.next_page_number }}">
                        <span class="material-icons">navigate_next</span>
                    </a>
                </li>
				{% else %}
				<li class="disabled">
                    <span class="material-icons">navigate_next</span>
                </li>
				{% endif %}
			</ul>
            {% endif %}

            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Order no.</th>
                        <th>Number of items</th>
                        <th>Total charged</th>
                    </tr>
                </thead>
            
                <tbody>
                {% for order in order_history %}
                    <tr class="general-order-row">
                        <td>{{ order.date }}</td>
                        <td>{{ order.order_number|truncatechars:8 }}</td>
                        <td>{{ order.order_count }} items</td>
                        <td>£{{ order.grand_total }}</td>
                    </tr>
                    <tr class="detail-order-row">
                        <td colspan="4">
                            <table>
                                
                                {% if order.quantity_count > 0 %}
                                    <h3 class="form-subtitle">Food ordered</h3>
                                {% endif %}
                                
                                {% for item in order.lineitems.all %}
                                    {% if not item.combo_id %}
                                    <div class="row">
                                        <div class="col s5 m7">{{ item.food_item.name }}</div>
                                        <div class="col s5 m3">{{ item.quantity }} @ £{{ item.food_item.price }}</div>
                                        <div class="col s2">£{{ item.lineitem_total }}</div>
                                    </div>
                                    {% endif %}
                                {% endfor %}

                                {% if order.combo_quantity_count > 0 %}
                                <h3 class="form-subtitle">Combos ordered</h3>
                                {% endif %}

                                {% for item in order.lineitems.all %}
                                    {% if item.combo_id %}
                                    <div class="row clear-10">
                                        <div class="col s5 m7">{{ item.combo_item.name }}</div>
                                        <div class="col s5 m3">{{ item.combo_quantity }} @ £{{ item.combo_item.price }}</div>
                                        <div class="col s2">£{{ item.lineitem_total }}</div>
                                    </div>
                                    
                                    <div class="combo-unit-list">
                                    {% for line in item.combocontents.all %}
                                        <div class="row">
                                            <div class="col s5 m5 offset-m2">{{ line.food_item.name }}</div>
                                            <div class="col s7 m5">{{ line.quantity }}</div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                <hr>
            
                                <div class="row">
                                    <div class="col offset-s5 s4 offset-m7 m3">Subtotal:</div>
                                    <div class="col s3 m2">£{{ order.order_total }}</div>
                                </div>
                                <div class="row">
                                    <div class="col offset-s5 s4 offset-m7 m3">Delivery Fee:</div>
                                    <div class="col s3 m2">£{{ order.delivery_fee }}</div>
                                </div>
                                <div class="row">
                                    <div class="col offset-s5 s4 offset-m7 m3">Discount:</div>
                                    <div class="col s3 m2">{% if order.discount > 0.00 %}-{% endif %}£{{ order.discount }}</div>
                                </div>
                                <div class="row">
                                    <div class="col offset-s5 s4 offset-m7 m3">Total:</div>
                                    <div class="col s3 m2">£{{ order.grand_total }}</div>
                                </div>
                                <form action="{% url 'repeat_order' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="order_id" value="{{ order.order_number }}">
                                    <button id="btn_{{ order.order_number }}" type="submit">ORDER AGAIN</button>
                                </form>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>       
        
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
		$(document).ready(function() {
            $('.detail-order-row').hide();
		    $('.general-order-row').click(function(){
		        $(this).next().toggle();
		    });
		});
    </script>
{% endblock %}