<!DOCTYPE html>
<html lang="en">
{% load static %}
	<head>
        <title>Dom's Burger Joint</title>
		{% block meta %}
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% endblock %}
	
		{% block extra_meta %}
		{% endblock %}
	
		{% block corecss %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abel&family=Montserrat&display=swap">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
		{% endblock %}
	
		{% block extra_css %}
		{% endblock %}
	
	
		{% block corejs %}
		<!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
		{% endblock %}
	
		{% block extra_js %}
		{% endblock %}
	
	
		<title>Dom's Burger Joint {% block extra_title %}{% endblock %}</title>
	</head>

    <body>
		<header>
			<div class="navbar-fixed">
				<nav>
					<div class="nav-wrapper">
						
                        <div class="logo-container">
                            <a class="dropdown-trigger" href="#!" data-target="account-options">
                                <div class="login-status-container">
                                {% if request.user.is_authenticated %}
                                    <span class="material-icons">account_box</span>
                                    <p class="hide-on-small-and-down">{{user.username}}</p> 
                                {% else %}
                                    <span class="material-icons disabled">account_box</span>
                                    <p class="hide-on-small-and-down disabled">Logged out</p>                  
                                {% endif %}
                                </div>
                            </a>
                            <a href="{% url 'home' %}" class="brand-logo center">
                                <img src="{% static '/images/simplefastfoodicon.svg' %}" alt="">
                                <h1>DOM'S BURGER JOINT</h1>
                            </a>
                        </div>
                        <div class="menu-container">
                            <ul class="right hide-on-small-and-down">
                                {% with request.resolver_match.url_name as url_name %}
                                <li class="{% if url_name == 'home' %}active{% endif %}">
                                    <a href="{% url 'home' %}" class="nav-link">HOME</a>
                                </li>
                                <li class="{% if url_name == 'menu' and selected_category != 'popular' %}active{% endif %}">
                                    <a class="dropdown-trigger nav-link" href="#!" data-target="menu-options">MENU
                                        <i class="material-icons right">arrow_drop_down</i>
                                    </a>
                                </li>
								<li class="{% if url_name == 'combo' or selected_category and selected_category == 'popular' %}active{% endif %}">
                                    <a class="dropdown-trigger nav-link" href="#!" data-target="deal-options">DEALS
										<i class="material-icons right">arrow_drop_down</i>
                                    </a>
                                </li>
                                <li class="{% if url_name == 'members_area' or url_name == 'rewards' %}active{% endif %}">
                                    <a href="{% if request.user.is_authenticated %}{% url 'members_area' %}{% else %}{% url 'rewards' %}{% endif %}" class="nav-link">MY BURGER
                                    </a>
                                </li>
                                <li class="{% if url_name == 'food_order' %}active{% endif %}">
                                    <a href="{% url 'food_order' %}" class="nav-link">YOUR ORDER{% if order_count > 0 %}({{ order_count }}){% endif %}</a>
                                </li>
                                {% endwith %}
                            </ul>
                        </div>
                        <a href="#" data-target="slide_out" class="sidenav-trigger nav-link right hide-on-med-and-up"><i class="material-icons">menu</i></a>
					</div>
				</nav>
			</div>

            <ul id="account-options" class="dropdown-content">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'members_area' %}" class="nav-link">MY BURGERS</a></li>
                    <li><a href="{% url 'account_logout' %}" class="nav-link">LOG OUT</a></li>
                {% else %}
                    <li><a href="{% url 'account_login' %}" class="nav-link">LOGIN</a></li>
                {% endif %}
            </ul>

            <ul id="menu-options" class="dropdown-content nav-link">
				<li class="{% if selected_category and selected_category == 'burgers' %}active{% endif %}">
                    <a href="{% url 'menu' %}?category=burgers" class="nav-link">BURGERS</a>
                </li>
				<li class="{% if selected_category and selected_category == 'sides' %}active{% endif %}">
                    <a href="{% url 'menu' %}?category=sides" class="nav-link">SIDES</a>
                </li>
				<li class="{% if selected_category and selected_category == 'drinks' %}active{% endif %}">
                    <a href="{% url 'menu' %}?category=drinks" class="nav-link">DRINKS</a>
                </li>
                <li class="{% if selected_category and selected_category == 'vegetarian' %}active{% endif %}">
                    <a href="{% url 'menu' %}?category=vegetarian" class="nav-link">VEGETARIAN</a>
                </li>
				<li class="{% if selected_category and selected_category == 'dessert' %}active{% endif %}">
                    <a href="{% url 'menu' %}?category=dessert" class="nav-link">DESSERTS</a>
                </li>
			</ul>

            <ul id="deal-options" class="dropdown-content nav-link">
				<li class="{% if selected_category and selected_category == 'popular' %}active{% endif %}">
                    <a href="{% url 'menu' %}?category=popular" class="nav-link">POPULAR</a>
                </li>
				<li class="{% if combos %}active{% endif %}">
                    <a href="{% url 'combo' %}" class="nav-link">COMBOS</a>
                </li>
			</ul>


            <!-- Sidebar navigation -->
            
			<ul id="slide_out" class="sidenav">
                <li><a class="sidenav-close nav-link" href="#!"><span class="material-icons">close</span></a></li>

				<li>
				</li>
                {% with request.resolver_match.url_name as url_name %}
				<li class="{% if url_name == 'home' %}active{% endif %}">
                    <a href="{% url 'home' %}" class="nav-link">HOME</a>
                </li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <div class="collapsible-header {% if url_name == 'menu' and selected_category != 'popular' %}active{% endif %} nav-link">
                            MENU<i class="material-icons">arrow_drop_down</i>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li class="{% if selected_category and selected_category == 'burgers' %}active{% endif %}">
                                    <a href="{% url 'menu' %}?category=burgers" class="nav-link">BURGERS</a>
                                </li>
                                <li class="{% if selected_category and selected_category == 'sides' %}active{% endif %}">
                                    <a href="{% url 'menu' %}?category=sides" class="nav-link">SIDES</a>
                                </li>
                                <li class="{% if selected_category and selected_category == 'drinks' %}active{% endif %}">
                                    <a href="{% url 'menu' %}?category=drinks" class="nav-link">DRINKS</a>
                                </li>
                                <li class="{% if selected_category and selected_category == 'vegetarian' %}active{% endif %}">
                                    <a href="{% url 'menu' %}?category=vegetarian" class="nav-link">VEGETARIAN</a>
                                </li>
                                <li class="{% if selected_category and selected_category == 'dessert' %}active{% endif %}">
                                    <a href="{% url 'menu' %}?category=dessert" class="nav-link">DESSERTS</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header {% if url_name == 'combo' or selected_category == 'popular' %}active{% endif %}">
                            DEALS<i class="material-icons">arrow_drop_down</i>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li class="{% if selected_category and selected_category == 'popular' %}active{% endif %}">
                                    <a href="{% url 'menu' %}?category=popular" class="nav-link">POPULAR</a>
                                </li>
                                <li class="{% if combos %}active{% endif %}">
                                    <a href="{% url 'combo' %}" class="nav-link">COMBOS</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <li class="{% if url_name == 'members_area' or url_name == 'rewards' %}active{% endif %}">
                    <a href="{% if request.user.is_authenticated %}{% url 'members_area' %}{% else %}{% url 'rewards' %}{% endif %}" class="nav-link">MY BURGER</a>
                </li>
                <li class="{% if url_name == 'food_order' %}active{% endif %}">
                    <a href="{% url 'food_order' %}" class="nav-link">YOUR ORDER</a>
                </li>
                {% endwith %}
			</ul>

		</header>

        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% include 'includes/toasts/message.html' %} 
                {% endfor %}              
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}

        <script>
            
		$(document).ready(function(){
            $(".sidenav").sidenav({edge: "right", menuWidth: 275});
            $(".dropdown-trigger").dropdown({coverTrigger: false, closeOnClick: false});
            $(".collapsible").collapsible({accordion: true});
        });
        </script>
        
        {% block postloadjs %}
        {% endblock %}

    </body>

</html>
