<!DOCTYPE html>
<html lang="en">
{% load static %}
	<head>
		{% block meta %}
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% endblock %}
	
		{% block extra_meta %}
		{% endblock %}
	
		{% block corecss %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abel&family=Montserrat&display=swap">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
		{% endblock %}
	
		{% block extra_css %}
		{% endblock %}
	
	
		{% block corejs %}
		<!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		{% endblock %}
	
		{% block extra_js %}
		{% endblock %}
	
	
		<title>Dom's Burger Joint {% block extra_title %}{% endblock %}</title>
	</head>

    <body>
		<header>
			<div class="navbar-fixed">
				<nav>
					<div class="nav-wrapper">
                        <div class="logo-container">
                            <a href="#!" class="brand-logo center">
                                <img src="{% static '/images/simplefastfoodicon.svg' %}" alt="">
                                <h1>DOM'S BURGER JOINT</h1>
                            </a>
                        </div>
                        <div class="menu-container">
                            <ul class="right hide-on-small-and-down">
                                <li><a href="{% url 'home' %}">HOME</a></li>
                                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">MENU
                                <i class="material-icons right">arrow_drop_down</i></a></li>
                                <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">DEALS</a></li>
                                <li><a href="#">CHECKOUT</a></li>
                            </ul>
                        </div>
                        <a href="#" data-target="slide-out" class="sidenav-trigger right hide-on-med-and-up"><i class="material-icons">menu</i></a>
					</div>
				</nav>
			</div>

            <ul id="dropdown1" class="dropdown-content">
				<li><a href="{% url 'menu' %}?category=burgers">BURGERS</a></li>
				<li><a href="{% url 'menu' %}?category=sides">SIDES</a></li>
				<li><a href="{% url 'menu' %}?category=drinks">DRINKS</a></li>
                <li><a href="{% url 'menu' %}?category=vegetarian">VEGETARIAN</a></li>
				<li><a href="{% url 'menu' %}?category=dessert">DESSERTS</a></li>
			</ul>

            <ul id="dropdown2" class="dropdown-content">
				<li><a href="{% url 'menu' %}?category=popular">POPULAR</a></li>
				<li><a href="{% url 'combo' %}">COMBOS</a></li>
			</ul>

            <!-- Sidebar navigation -->
            
			<ul id="slide-out" class="sidenav">
                <li><a class="sidenav-close" href="#!"><span class="material-icons">close</span></a></li>

				<li>
				</li>
				<li><a href="{% url 'home' %}">HOME</a></li>
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <div class="collapsible-header">MENU<i class="material-icons">arrow_drop_down</i></div>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="{% url 'menu' %}?category=burgers">BURGERS</a></li>
									<li><a href="{% url 'menu' %}?category=sides">SIDES</a></li>
									<li><a href="{% url 'menu' %}?category=drinks">DRINKS</a></li>
									<li><a href="{% url 'menu' %}?category=vegetarian">VEGETARIAN</a></li>
									<li><a href="{% url 'menu' %}?category=dessert">DESSERTS</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <div class="collapsible-header">DEALS<i class="material-icons">arrow_drop_down</i></div>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="{% url 'menu' %}?category=popular">POPULAR</a></li>
                                    <li><a href="{% url 'menu' %}?category=combos">COMBOS</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a href="#">CHECKOUT</a></li>
			</ul>

		</header>

        {% block content %}
        {% endblock %}

        <script>
            
		$(document).ready(function(){
            $(".sidenav").sidenav({edge: "right", menuWidth: 275});
            $(".dropdown-trigger").dropdown({coverTrigger: false, closeOnClick: false});
            $(".collapsible").collapsible({accordion: true});
            // $(".button-collapse").sideNav({
            //     menuWidth: 275
            // });
            //$('.collapsible').collapsible();
            // var elemCollapsible = document.querySelectorAll('.collapsible');
            // var instanceCollapsible = M.Collapsible.init(elemCollapsible, {accordion: true});
        });
        </script>
        
        {% block postloadjs %}
        {% endblock %}

    </body>

</html>
