.checkout-form-container p a {
    color: red;
}

.checkout-form-container p a:hover {
    text-decoration: underline;
}
.rewards-notification button {
    background-color: red;
    color: yellow;
}

#payment-form input {
    padding-left: 10px;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    opacity: 1;
    pointer-events: visiblestroke;
}
.checkout-form-container #id_for_collection {
    width: fit-content;
}
.checkout-form-container #id_for_collection:focus {
    /* Override Materialize css default code */
    box-shadow: none !important;
}
result-message {
  line-height: 22px;
  font-size: 16px;
}
.result-message a {
  color: rgb(89, 111, 214);
  font-weight: 600;
  text-decoration: none;
}
.hidden {
  display: none;
}
.field-error {
    color: red;
    text-align: left;
    font-size: 13px;
}
#card-error {
    color: red;
    text-align: left;
    font-size: 13px;
    line-height: 17px;
    margin-top: 12px;
    display: flex;
    align-items: center;
}
span.material-icons{
    margin-right: 10px;
}
#card-element {
  border-radius: 4px 4px 0 0 ;
  margin: 0 0 24px 0;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  width: 100%;
  background: white;
}

.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: grey;
    font-family: "Montserrat", sans-serif;
}

@keyframes loading-animation-1 {
  0% { top: 28%; height: 44% }
  50% { top: 30%; height: 40% }
  100% { top: 30%; height: 40% }
}
@keyframes loading-animation-2 {
  0% { top: 28%; height: 43% }
  50% { top: 30%; height: 40% }
  100% { top: 30%; height: 40% }
}
@keyframes loading-animation-3 {
  0% { top: 29%; height: 42% }
  50% { top: 30%; height: 40% }
  100% { top: 30%; height: 40% }
}
.loading-animation div { position: absolute; width: 11.82px }.loading-animation div:nth-child(1) {
  left: 33%;
  background: #000000;
  animation: loading-animation-1 0.98039s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.196s
}
.loading-animation div:nth-child(2) {
  left: 47%;
  background: #3d3d3d;
  animation: loading-animation-2 0.98039s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.098s
}
.loading-animation div:nth-child(3) {
  left: 61%;
  background: #898989;
  animation: loading-animation-3 0.98039s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: undefineds
}

#loading-overlay {
	position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(177, 177, 177, 0.5);
    z-index: 9999;
}
.loading-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.loading-animation div { 
    box-sizing: content-box; 
}
/* generated by https://loading.io/ */

